@import 'variables';
@import 'mixins';

// Mixins específicos para responsividad con breakpoints estándar
@mixin mobile-first {
  @include responsive(sm) {
    @content;
  }
}

@mixin tablet {
  @include responsive(md) {
    @content;
  }
}

@mixin desktop {
  @include responsive(lg) {
    @content;
  }
}

@mixin large-desktop {
  @include responsive(xl) {
    @content;
  }
}