// 
$primary-color: #741111; 
$secondary-color: #000000;
$accent-color: #B8171E; 
$background-color: #F5F5F5; 
$text-color: #333333; 
$text-secondary: #666666;
$white: #FFFFFF; 
$success-color: #c93200;
$warning-color: #ae2621;

// Tipografía
$font-family-base: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-size-base: 1rem;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Espaciado
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 1.5rem;
$spacing-lg: 2rem;
$spacing-xl: 3rem;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;