
@import '../../styles/variables';
@import '../../styles/mixins';

.loadingContainer {
  @include flex-center;
  flex-direction: column;
  padding: $spacing-xl;
  
  .spinner {
    width: 50px;
    height: 50px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid $primary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: $spacing-md;
  }
  
  p {
    color: $text-color;
    font-size: 1.1rem;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}